.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.auth-controls {
  margin-left: auto;
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.home-icon {
  width: 30px;
}

.login-icon {
  width: 25px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.account-dropdown {
  z-index: 50;
}

body { /* Background color */
  background-color: #F5F2DA; 
}

.grid_container { /* Grid organization */
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr; 
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: 
    ". header1 header1 header2"
    "hero_im hero_im hero_im hero_im"
    ". USE_MY_INGREDIENTS FIND_SPECIFIC_RECIPE ."
    ". STUDENT_FAVORITES STUDENT_FAVORITES ."
    "FAV FAV FAV FAV";
}

.hero_image { /* Settings for hero image */
  grid-area: hero_im;
}

.hero_image img {
  width: 100%;
  height: 100%;
  display: block;

}

.header{ /* Settings for website name */
  grid-area: header1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #095D1F;
  font-size: 50px;
  display: flex; 
  align-items: center;
  justify-content: center; 
  line-height: 0;

}

.header_icons { /* Settings for Home and Account icons */
  grid-area: header2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.favorites_wrapper { /* Setting flexbox in grid */
  grid-area: FAV;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
}

.student_favorite1, /* Flexbox settings for student favorites */
.student_favorite2,
.student_favorite3 {
  width: 100%;
  height: auto;
  background-color: white;
  flex: 1;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  border: 2px solid black;

}
.student_favorite1 img, /* Setting image sizing for student favorites */
.student_favorite2 img,
.student_favorite3 img {
  width: 100%;
  height: auto;
  display: block;
}