.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.auth-controls {
  margin-left: auto;
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.home-icon {
  width: 30px;
}

.login-icon {
  width: 25px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.account-dropdown {
  z-index: 50;
}

.temp_organizing_color { /* Temporary class to indicate separation*/
  background-color: lightblue;
  display: inline-block;
}

.hero-image img { /* Hero Image page scaling*/
  width: 100%;
}

body {
  background-color: #F5F2DA; /* Background color*/
}